## Puntos Claves
- El Machine Learning es el estudio que se le da a los ordenadores la capacidad de aprender sin ser programados explicitamente.
- Clases de Aprendizaje Automatico
  - Aprendizaje No Supervizado
  - Aprendizaje Supervizado
  - Aprendizaje por Refuerzo
  - Regresion 
- Modulos Para el Trabajo con Modelo
  - Pandas
  - numpy
  - matplotlib
  - seaborn
  - scikit-learn :from sklearn.linear_model import LinearRegression
      - Preparar los datos y conventirlos a un DataFrame
      - Seleccionar las Caracteristicas y el objetivo (x,y)
      - Dividir los datos en conjuntos de entrenamiento y prueba
      - Crear y entrenar el modelo
      - Realizar las Predicciones
      - Evaluar el Rendimiento del Modelo
  - tensorflow
    -keras

In [3]:
#Extraer diferentes tipos de datos para nuestro modelo de predicciones
import csv
def origen_datos_csv():
    with open('productod.csv','r') as data:
        csv_leer=csv.reader(data)
        lista_productos=list(csv_leer)
        return lista_productos
    
origen_datos_csv()

[['codigo', 'producto', 'stock'],
 ['100', 'XYZ', '100'],
 ['200', 'MNO', '140'],
 ['300', 'PQR', '120']]

In [4]:
import pandas as pd
ruta_csv='productod.csv'
datos=pd.read_csv(ruta_csv)
datos

   codigo producto  stock
0     100      XYZ    100
1     200      MNO    140
2     300      PQR    120

In [5]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\armando\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\armando\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import openpyxl
def origen_datos_xlsx(ruta):
    try:
        libro_trabajo=openpyxl.load_workbook(ruta)
        hojas_disponibles=libro_trabajo.sheetnames
        nombre_hoja=hojas_disponibles[0]
        hoja_trabajo=libro_trabajo[nombre_hoja]
        for fila in hoja_trabajo.iter_rows(min_row=1,max_row=hoja_trabajo.max_row,values_only=True):
            print(fila)    
    except Exception as err:
        print(f"Ocurrio un error al aperturar el archivo {err}")
    else:
        print("El Archivo se apertura de manera correcta")
    finally:
        libro_trabajo.close()

origen_datos_xlsx('productod.xlsx')

('codigo', 'producto', 'stock')
(100, 'XYZ', 100)
(200, 'MNO', 140)
(300, 'PQR', 120)
El Archivo se apertura de manera correcta

In [21]:
import pandas as pd
ruta_xlsx='productod.xlsx'
nombre_hoja='productod'
datos=pd.read_excel(ruta_xlsx,sheet_name=nombre_hoja)
datos

   codigo producto  stock
0     100      XYZ    100
1     200      MNO    140
2     300      PQR    120

In [22]:
import pandas as pd
from xml.etree.ElementTree import parse

In [26]:
document=parse('libros.xml')
document
dir(document)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_root',
 '_setroot',
 'find',
 'findall',
 'findtext',
 'getroot',
 'iter',
 'iterfind',
 'parse',
 'write',
 'write_c14n']

In [28]:
import xml.etree.ElementTree as ET
tree = ET.parse('libros.xml')
root=tree.getroot()
root

In [29]:
for child in root:
    print(child.tag,child.attrib)

book {'id': 'bk101'}
book {'id': 'bk102'}
book {'id': 'bk103'}
book {'id': 'bk104'}
book {'id': 'bk105'}
book {'id': 'bk106'}
book {'id': 'bk107'}
book {'id': 'bk108'}
book {'id': 'bk109'}
book {'id': 'bk110'}
book {'id': 'bk111'}
book {'id': 'bk112'}

In [32]:
for item in document.iterfind('book'):
    print(item.findtext('genre'))

Computer
Fantasy
Fantasy
Fantasy
Fantasy
Romance
Romance
Horror
Science Fiction
Computer
Computer
Computer

In [34]:
author=[]
title=[]
genre=[]
price=[]
description=[]
publish_date=[]
for item in document.iterfind('book'):
    author.append(item.findtext('author'))
    title.append(item.findtext('title'))
    genre.append(item.findtext('genre'))
    price.append(item.findtext('price'))
    description.append(item.findtext('description'))
    publish_date.append(item.findtext('publish_date'))
author

['Gambardella, Matthew',
 'Ralls, Kim',
 'Corets, Eva',
 'Corets, Eva',
 'Corets, Eva',
 'Randall, Cynthia',
 'Thurman, Paula',
 'Knorr, Stefan',
 'Kress, Peter',
 "O'Brien, Tim",
 "O'Brien, Tim",
 'Galos, Mike']

In [36]:
df=pd.DataFrame({
             'title':title,
             'author':author,
             'price':price,
             'genre':genre,
             'publish_date':publish_date
    
})
df

,title,author,price,genre,publish_date
0,XML Developer's Guide,"Gambardella, Matthew",44.95,Computer,2000-10-01
1,Midnight Rain,"Ralls, Kim",5.95,Fantasy,2000-12-16
2,Maeve Ascendant,"Corets, Eva",5.95,Fantasy,2000-11-17
3,Oberon's Legacy,"Corets, Eva",5.95,Fantasy,2001-03-10
4,The Sundered Grail,"Corets, Eva",5.95,Fantasy,2001-09-10
5,Lover Birds,"Randall, Cynthia",4.95,Romance,2000-09-02
6,Splish Splash,"Thurman, Paula",4.95,Romance,2000-11-02
7,Creepy Crawlies,"Knorr, Stefan",4.95,Horror,2000-12-06
8,Paradox Lost,"Kress, Peter",6.95,Science Fiction,2000-11-02
9,Microsoft .NET: The Programming Bible,"O'Brien, Tim",36.95,Computer,2000-12-09
10,MSXML3: A Comprehensive Guide,"O'Brien, Tim",36.95,Computer,2000-12-01
11,Visual Studio 7: A Comprehensive Guide,"Galos, Mike",49.95,Computer,2001-04-16

In [38]:
df_author=df[df['author']=='Corets, Eva']
df_author

                title       author price    genre publish_date
2     Maeve Ascendant  Corets, Eva  5.95  Fantasy   2000-11-17
3     Oberon's Legacy  Corets, Eva  5.95  Fantasy   2001-03-10
4  The Sundered Grail  Corets, Eva  5.95  Fantasy   2001-09-10

In [39]:
df_author.to_csv('author_Corets',columns=['title','price','genre'],index=False)

In [46]:
import pandas as pd
df_iris_f=pd.read_json('https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json')
df_productos_platzy=pd.read_json(' https://api.escuelajs.co/api/v1/products')
df_productos_platzy.head(10)

,id,title,price,description,images,creationAt,updatedAt,category
0,96,New Product,10,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T06:32:55.000Z,2024-03-08T06:32:55.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
1,97,New Product Course,10,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T06:37:13.000Z,2024-03-08T06:37:13.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
2,105,New Product Course,9999,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T06:39:14.000Z,2024-03-08T06:39:14.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
3,106,New Product Course,9999,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T06:39:17.000Z,2024-03-08T06:39:17.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
4,113,macbook,1203,wqeqw,"[[""https://api.escuelajs.co/api/v1/files/d347....",2024-03-08T06:55:36.000Z,2024-03-08T06:55:36.000Z,"{'id': 2, 'name': 'jjjyyyyy', 'image': 'https:..."
5,118,New Product Course,9999,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T07:03:26.000Z,2024-03-08T07:03:26.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
6,119,New Product Course,9999,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T07:16:52.000Z,2024-03-08T07:16:52.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
7,120,New Product Course,9999,A description,"[[""https://placeimg.com/640/480/any""]]",2024-03-08T07:17:07.000Z,2024-03-08T07:17:07.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
8,125,Hello This is mobile,11,Hello This is new Product,"[[""https://encrypted-tbn0.gstatic.com/images?q...",2024-03-08T07:46:51.000Z,2024-03-08T07:46:51.000Z,"{'id': 1, 'name': 'nuevo', 'image': 'https://i..."
9,129,Oil Brand new,12,Oil,"[[""https://png.pngtree.com/png-vector/20210602...",2024-03-08T08:05:33.000Z,2024-03-08T08:05:54.000Z,"{'id': 2, 'name': 'jjjyyyyy', 'image': 'https:..."