# Pandas
- Pandas Es una Biblioteca de programacion de python que proprocina estructura de datos de alto rendimiento facil de utilizar. asi como herramientas de analisis de datos.
- Contiene una estructura de datos clave llamada Dataframes
- DataFrame es una tabla bidimensional con etiquetas en filas y columnas y son muy utiles para manipular datos.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\armando\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\armando\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\armando\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\armando\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\armando\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\armando\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Pandas el paquete de programacion para el analisis de datos
import pandas as pd

In [6]:
#Origen de datos -Diccionario
data = {'Nombre' : ['Juan','Maria','Pedro'],
        'Edad':[25,30,22],
        'Ciudad':['Bogota','California','La Paz'] 
}
data['Nombre']
data['Edad']
data['Ciudad']

#Crear un DataFrame a partir de este diccionario de Python
df = pd.DataFrame(data)
df

  Nombre  Edad      Ciudad
0   Juan    25      Bogota
1  Maria    30  California
2  Pedro    22      La Paz

In [7]:
#Mostrar las primera filas del Dataframe
df.head()

  Nombre  Edad      Ciudad
0   Juan    25      Bogota
1  Maria    30  California
2  Pedro    22      La Paz

In [8]:
#Obtener Informacion sobre el dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
 2   Ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [10]:
#Filtrar filas segun la condicion
df_mayor_25=df[df['Edad']>=25]
df_mayor_25

  Nombre  Edad      Ciudad
0   Juan    25      Bogota
1  Maria    30  California

In [11]:
#Agregar una nueva columna al DataFrame
df['Profesion']=['Ingeniero','Doctor','Estudiante']
df

  Nombre  Edad      Ciudad   Profesion
0   Juan    25      Bogota   Ingeniero
1  Maria    30  California      Doctor
2  Pedro    22      La Paz  Estudiante

In [13]:
#Crear un Dataframe en base a un Archivo CSV
df_vic=pd.read_csv('denuncias-victimas-pgj.csv')
df_vic.head() #Devuelve 5 Filas de Muestra

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
0,0,8511202,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-08-31 20:30:00,2019.0,Agosto,Femenino,24.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.165831,19.265853,"19.2658532425,-99.1658309176"
1,1,8511203,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-08-31 17:00:00,2019.0,Agosto,Femenino,45.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.231585,19.358567,"19.3585668959,-99.2315845002"
2,2,8511210,NARCOMENUDEO POSESION SIMPLE,DELITO DE BAJO IMPACTO,2019-08-31 23:30:00,2019.0,Agosto,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.041738,19.379067,"19.3790668024,-99.0417384999"
3,3,8511220,ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO,DELITO DE BAJO IMPACTO,2019-09-01 00:00:00,2019.0,Septiembre,Femenino,40.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.156856,19.335144,"19.3351437,-99.1568559003"
4,4,8511227,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,2019-09-01 01:50:00,2019.0,Septiembre,Femenino,NaN,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.161371,19.317343,"19.3173431639,-99.1613711149"

In [15]:
#Ver las columnas
df_vic.describe()

,id,idcarpeta,ao,edad,lon,lat
count,145870.000000,1.458700e+05,145743.000000,100547.000000,140143.000000,140143.000000
mean,72934.500000,8.425766e+06,2018.865222,38.681413,-99.136049,19.387313
std,42109.186221,6.090228e+04,0.898186,16.410693,0.060952,0.068799
min,0.000000,8.322418e+06,1964.000000,0.000000,-99.340718,19.130325
25%,36467.250000,8.373664e+06,2019.000000,27.000000,-99.176119,19.341308
50%,72934.500000,8.423324e+06,2019.000000,37.000000,-99.140794,19.388654
75%,109401.750000,8.478405e+06,2019.000000,49.000000,-99.097270,19.437284
max,145869.000000,9.006473e+06,2019.000000,258.000000,-98.948126,19.582323

In [23]:
df_vic.tail() #En Formado descendente
df_vic[['categoria','sexo','tipopersona']]#Seleccionar las columnas a trabajar
df_vic.loc[5] #Mostrar la fila 5 del dataframe
df_vic.loc[[9,12,18,15890]] #Mostrar las filas indicadas
df_vic.loc[[9,12,18,15890],['categoria' ,'sexo','edad']] #Combinando filas y columnas

                                           categoria       sexo  edad
9                             DELITO DE BAJO IMPACTO  Masculino  43.0
12                            DELITO DE BAJO IMPACTO  Masculino  28.0
18     LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO  Masculino  27.0
15890                         DELITO DE BAJO IMPACTO   Femenino  27.0

In [33]:
df_vic['categoria'].unique()

array(['DELITO DE BAJO IMPACTO', 'ROBO DE VEHÍCULO CON Y SIN VIOLENCIA',
       'VIOLACIÓN', 'HECHO NO DELICTIVO', 'HOMICIDIO DOLOSO',
       'LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO',
       'ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA',
       'ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA',
       'ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA',
       'ROBO A REPARTIDOR CON Y SIN VIOLENCIA',
       'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA',
       'ROBO A CASA HABITACIÓN CON VIOLENCIA',
       'ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA',
       'ROBO A NEGOCIO CON VIOLENCIA',
       'ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA', 'SECUESTRO'],
      dtype=object)

In [34]:
df_vic['sexo'] =='Femenino'
df_vic.loc[df_vic['sexo']=='Femenino'].head(20)
df_vic[df_vic['sexo'].isna()] #filtrar la informacion que no tiene contenido para un campo en comun
df_vic['categoria'].unique() #Filas unicas
delitos_alto_impacto=['VIOLACIÓN','SECUESTRO'] #deseo filtra filas que contengan estas categorias
df_vic[df_vic['categoria'].isin(delitos_alto_impacto)]#realizas el filtro

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
8,8,8511239,VIOLACION,VIOLACIÓN,2019-08-31 13:08:00,2019.0,Agosto,Femenino,16.0,FISICA,VICTIMA,FUERO COMUN,NaN,NaN,NaN
43,43,8511402,VIOLACION,VIOLACIÓN,2019-09-01 12:00:00,2019.0,Septiembre,Femenino,19.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.154291,19.438088,"19.4380882127,-99.1542905979"
145,145,8511841,VIOLACION EQUIPARADA Y ROBO DE VEHICULO,VIOLACIÓN,2019-09-01 13:30:00,2019.0,Septiembre,Femenino,20.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.097863,19.369891,"19.3698906513,-99.0978634397"
644,644,8514264,VIOLACION,VIOLACIÓN,2019-09-01 16:00:00,2019.0,Septiembre,Femenino,31.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.005544,19.359646,"19.3596464042,-99.0055436034"
692,692,8514439,VIOLACION,VIOLACIÓN,2019-09-04 22:30:00,2019.0,Septiembre,Femenino,19.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.299088,19.356824,"19.3568238299,-99.2990883398"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145651,145651,8532815,VIOLACION,VIOLACIÓN,2019-09-20 04:00:00,2019.0,Septiembre,Femenino,36.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.040310,19.366657,"19.3666568002,-99.0403104122"
145683,145683,8532951,VIOLACION,VIOLACIÓN,2019-09-28 22:30:00,2019.0,Septiembre,Femenino,16.0,FISICA,VICTIMA,FUERO COMUN,-99.053654,19.298188,"19.2981876041,-99.0536535998"
145810,145810,8533625,VIOLACION,VIOLACIÓN,2019-05-10 19:00:00,2019.0,Mayo,Femenino,28.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.221630,19.279595,"19.2795954272,-99.2216299501"
145847,145847,8533810,VIOLACION,VIOLACIÓN,2019-09-30 18:00:00,2019.0,Septiembre,Femenino,43.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.141306,19.432951,"19.4329510968,-99.1413055998"
145858,145858,8533875,VIOLACION,VIOLACIÓN,2019-09-30 11:00:00,2019.0,Septiembre,Femenino,33.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.193414,19.378903,"19.3789027016,-99.1934136912"

In [41]:
#df_vic[df_vic['sexo'].isna()]
df_sin_nan=df_vic.dropna() #Eliminar las columnas nulla o Nan
df_sin_nan[df_sin_nan['sexo'].isna()] #Filtar si aun existen filas nullas
df_sin_nan

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
0,0,8511202,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-08-31 20:30:00,2019.0,Agosto,Femenino,24.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.165831,19.265853,"19.2658532425,-99.1658309176"
1,1,8511203,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-08-31 17:00:00,2019.0,Agosto,Femenino,45.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.231585,19.358567,"19.3585668959,-99.2315845002"
3,3,8511220,ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO,DELITO DE BAJO IMPACTO,2019-09-01 00:00:00,2019.0,Septiembre,Femenino,40.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.156856,19.335144,"19.3351437,-99.1568559003"
9,9,8511249,ABUSO DE AUTORIDAD,DELITO DE BAJO IMPACTO,2019-08-31 22:30:00,2019.0,Agosto,Masculino,43.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.143360,19.432675,"19.4326754501,-99.1433596795"
10,10,8511252,HOMICIDIO CULPOSO POR TRÁNSITO VEHICULAR (CAIDA),DELITO DE BAJO IMPACTO,2019-09-01 04:13:00,2019.0,Septiembre,Masculino,38.0,FISICA,CADAVER,FUERO COMUN,-99.182308,19.347488,"19.3474880852,-99.1823080269"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145864,145864,8533922,HOMICIDIO POR ARMA DE FUEGO,HOMICIDIO DOLOSO,2019-09-30 21:00:00,2019.0,Septiembre,Masculino,48.0,FISICA,CADAVER,FUERO COMUN,-99.119823,19.365843,"19.3658431035,-99.1198226002"
145865,145865,8533929,ABUSO SEXUAL,DELITO DE BAJO IMPACTO,2019-09-28 20:00:00,2019.0,Septiembre,Femenino,22.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.202481,19.372614,"19.3726139581,-99.2024805395"
145866,145866,8533931,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-09-30 20:00:00,2019.0,Septiembre,Femenino,20.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.184197,19.397102,"19.3971023956,-99.1841971002"
145868,145868,8533947,HOMICIDIO POR ARMA DE FUEGO,HOMICIDIO DOLOSO,2019-09-30 23:49:00,2019.0,Septiembre,Masculino,30.0,FISICA,CADAVER,FUERO COMUN,-99.144678,19.480919,"19.4809194031,-99.1446780997"
145869,145869,8533948,ABUSO DE AUTORIDAD,DELITO DE BAJO IMPACTO,2019-09-30 20:45:00,2019.0,Septiembre,Femenino,55.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.138350,19.426559,"19.4265593441,-99.1383501038"

# Guia Rapida de Pandas

In [ ]:
df = pd.read_csv('file.csv') #Importa el documento
df = pd.read_csv('file.csv', index_col=0) #Toma la columna 0 como el índice
df = pd.read_html(url) #Importa HTML, necesitas tener BeautifulSoup para manipulación de datos
#Otras opciones
df = pd.read_json()
df = pd.read_sql()
df = pd.read_excel()


#Guardar el DataFrame como archivo
df.to_csv('file_name.csv',index=False) #Esta opción guardará el DataFrame como csv sin índice indicado

#Opciones
df.to_json()
df.to_sql()
pd.to_excel()

#Atributos
df.columns #Regresa las columnas del DataFrame
df.dtypes #Regresa los tipos de datos
df.index #Regresa el indice
df.shape #Regresa la forma (cantidad de filas y columnas)
df.T #Regresa el DataFrame invertido (horizontal-vertical)
df.values #Regresa los valores

#Metodos estaticos
df.describe() #Regresa las estadísticas de un DataFrame
df.max() #Regresa el valor máximo
df.mean() #Regresa la media
df.median() #Regresa la mediana
df.min() # Regresa el valor mínimo de cada columna
df.mode() #Regresa la moda
df.std() # Regresa la desviación estándar de cada columna
df.var() #Regresa la varianza
df.abs() #Regresa los valores absolutos
df.corr() #Regresa las correlaciones en un DataFrame
df.round() #Redondea los números


df.head() #Regresa los primeros 5 valores
df.tail() #Regresa los últimos 5 valores

df['column_name'] #Regresa todos los valores de la columna específicada
df.column_name #Regresa todos los valores de la columna especificada
df['column_name', 'second_column'] #Regresa las columnas indicadas en un nuevo DataFrame
df[7:9] #Imprime las columnas indicadas por su número de índice
df.value_counts(dropna=True)  #Regresa todos los valores quitando los null values
df.sort_index(axis=0, ascending=False) #Returns dataframe sorted by index
df.apply(pd.Series.value_counts) #Regresa la suma de cada valor por columna
df.sort_values(by='column_name') #Regresa el DataFrame ordernado por la columna seleccionada
df.groupby('column_name').mean() #Regresa el DataFrame ordenado por la media de la columna seleccionada
df.pivot_table #PivotTable
df.iloc[0] #Selecciona el primer valor
df.loc['index_one'] #Seleccion basada en el index
df.iloc[0,:]  #Regresa la primera fila
df.iloc[0,0] #Regresa el primer elemento del DataFrame